body {
    background-color: dimgray;
}
.contenter {
    background-color: white;
padding: 1%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.address , .closing {
    text-align: right;
}
.header {
    text-align: center;
    font-weight: bold;
     text-transform: capitalize;
     text-decoration: solid;
    font-size: 2rem;
}
.salute {
margin: 0%;
}
.body {
    font-display: justify;
    font-style: justify;
}
.line 
    height: 0.8mm;
    width: 3mm;
    border-color: black;
}