.header {
  border: 1px solid; 
  flex-direction:row; 
  align-items: flex-start;
display: flex;
justify-content: space-between;
background-color: darkgray;

}
nav {
display: flex;
list-style-type: none;
color: white;
text-decoration: n;
}

li {
margin: 6px;
border:1px solid;
}
.hi {
    border: 4px solid;
    background-color:navy;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
p {
    text-align: center;
}

.name, .hi{
    color: aliceblue;
}
.bio {
    border: 1px solid;

}
.image {
    border: 2px solid ;

height: 230px;
width: 150px;
}
.back {
    background-color: black;
    position: absolute;
    height: 200px;
}
.front {
    position: relative;
    right: 20px;
    height: 220px;
    border-top-left-radius: 12;
}