body {
    background-color: black;
}
.container {
    background-color: gray;
}
.header {
  border: 1px solid;
 height: 72px;
  flex-direction:row; 
display:flex;
justify-content: space-between;
background-color: darkgray;
position: sticky;
padding-top: 12px;
top: 0px;
}
span {
    font-weight: bolder;
font-size: 25px;

}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
} 
ul {
    display: flex;
    justify-content: space-around;
width: 30%;

padding: 10px;
}
li{
    text-decoration: none;
    list-style: none;
    margin: 0px 10px 0px 10px;
}
a {
    text-decoration: none;
}
.hi {
    border: 1px solid black;
    background-color:navy;
   height: 330px;
color: aliceblue;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 40px;
text-align: right;
font-size: 59px;
}
p {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
   margin-left: 40px;
}
.bio {
    border: 1px solid;
display: flex;
justify-content: space-between;
}
.image {
    height: 50vh;
    float: left;
}


